button {
    width: 180px;
    height: 54px;
    border-radius: 10px;
    background-color: #000000;
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 800;
    color: white;
    border: 2px solid #F5F5F5;
}

button:hover {
    /*selected*/
    border: 2px solid #2271D1;
    box-shadow: inset 0px 0px 12px 4px #1565C0;
    color: #2271D1;
}